body {
  background-image:url("agri.jpg");
}

.input_login
{
  text-align: center;
}
.input_login .i_element
{
  width: 300px;
  height: 40px;
  margin-top: 38px;
  font-size: 20px;
  background: #f9f9f9;
  border: 1px;
  outline: none;
  padding-left: 30px;
}
.input_login.input_login_text.i_button  {
  color:red;
}
/* .login__wrapper {
  background: white;
  padding: 25px;
  max-width: 500px;
  margin: 20% auto;
  box-shadow: 3px 3px 15px #cecaca;
  height: 270px;
}

.login__wrapper .input__element_wrapper {
  text-align: center;
}

.login__wrapper .input__element_wrapper .input_icon_wrapper {
  display: inline-block;
  position: relative;
}

.login__wrapper .input__element {
  width: 300px;
  height: 40px;
  margin-top: 38px;
  font-size: 20px;
  background: #f9f9f9;
  border: 0px;
  outline: none;
  padding-left: 30px;
}

.login__wrapper .input__element_wrapper .login__button {
  background: rgba(14, 192, 249, 0.88);
  color: white;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 4px 0px 7px 1px #bfbfbf;
  width: 140px;
  padding-left: 0px;
}

.icon {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 46px;
  left: 5px;
}
*/
